#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  border: 2px solid black;
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-btn{
  border: 1px solid black;
  padding: 12px;
  max-width: 222px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  

}
.button {
  border-radius: 8px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 5px;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #000000;
  background-color: #818181;
}
.input{
  padding: 8px;
  margin: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid black;
  text-align: right;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
