*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.container{
  border: 2px solid black;
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-btn{
  border: 1px solid black;
  padding: 12px;
  max-width: 222px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  

}
.button {
  border-radius: 8px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 5px;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #000000;
  background-color: #818181;
}
.input{
  padding: 8px;
  margin: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid black;
  text-align: right;
}

.card {
  padding: 2em;
}

.list-item{
  border: 1px solid red;
  padding: 6px;
  margin: 8px;
}

.read-the-docs {
  color: #888;
}

.imgDiv{
  width: 30rem;
  /* min-height: 18rem; */
  border: 1px solid red;
  margin: 20px;
}
.imgDiv img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.imgDiv img:hover{
  transform: scale(1.02); /* Increase the scale on hover for a zoom effect */
}
.cardDiv{
  /* border: 2px solid black; */
  padding: 12px;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  flex-wrap: wrap;
}
.title{
  margin: 5px;
}
